.navElement {
  padding: 1rem;
  cursor: pointer;
}
.navElement:hover {
  background-color: var(--mantine-color-dark-6);
}
.selected {
  background-color: rgba(34, 139, 230, 0.15);
  color: #74c0fc;
}
.menu {
  border-bottom: 1px solid var(--app-shell-border-color);
}
.search {
  border-top: 1px solid var(--app-shell-border-color);
}
