.root {
  width: 100%;
  padding: 12px;
}
.forms {
  font-size: 2rem;
}
.pointer {
  cursor: pointer;
  text-decoration: underline dotted;
}
.verticalCenter {
  display: flex;
  align-items: center;
  height: 100%;
}
